*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #23292e;

}

.logo{
    width: 200px;
    margin: 20px;
}

main { 
    border: 1px solid red;
    max-width: 786px; 
    margin: 0 auto;
}

h1{
    font-weight: 700;
    text-transform: uppercase;
}

h1, p{
    color: white;
    text-align: center;
}